1. Importing the libraries

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
import plotly.io as pio  
pio.renderers.default = "svg"

2. Importing the dataset

In [ ]:
raw_df = pd.read_csv('Zomato_Mumbai_Dataset.csv',delimiter='|')

In [ ]:
raw_df.head()

3. Getting Basic Information about the Dataset

In [ ]:
raw_df.shape

In [ ]:
raw_df.info()

In [ ]:
raw_df.describe()

4. Cleaning the Dataset

a. Removing the redundunt rows of data

In [ ]:
# Checking redundunt rows of data 
 
wrong_data = raw_df['PAGE NO'] == 'PAGE NO' 
raw_df[wrong_data]

In [ ]:
## Performing Negation of the wrong dataset and then storing the correct data back in the raw_df DataFrame 
## This permamnently remove the wrong data from the original dataframe 
raw_df = raw_df[~wrong_data] 
raw_df

In [ ]:
# Dropping columns which are not required for further analysis 
raw_df.drop(['URL', 'PAGE NO', 'CITY'], axis = 1, inplace=True)

In [ ]:
raw_df.head()

b. Removing the Null Records

In [ ]:
# Checking for Null records 
raw_df.isnull().sum()

In [ ]:
# Checking for a null row 
raw_df[raw_df['PRICE'].isnull()]

In [ ]:
# Droping the above row from the dataset 
raw_df = raw_df.drop(labels=15080, axis=0)

In [ ]:
# Replacing the other null records with NA  
raw_df.fillna('NA', inplace=True)

In [ ]:
# Confirming all the null records are correct  
raw_df.isnull().sum()

c. Converting the DataTypes of numerical columns to numeric dataype

In [ ]:
# Checking for text values in the column before converting it to numeric datatype 
raw_df['RATING'].value_counts()

In [ ]:
# Replacing the text values with '0' 
raw_df['RATING'].replace(to_replace=['-','NEW','Opening'], value='0', inplace=True)

In [ ]:
# Checking for text values in the column before converting it to numeric datatype 
raw_df['VOTES'].value_counts()

In [ ]:

# Replacing the text values with '0' 
raw_df['VOTES'].replace(to_replace=['-','NEW','Opening'], value='0', inplace=True)

In [ ]:

# Changing Data Type of the numerical columns 
 
raw_df['PRICE'] = raw_df['PRICE'].astype('int64') 
raw_df['RATING'] = raw_df['RATING'].astype('float64') 
raw_df['VOTES'] = raw_df['VOTES'].astype('int64')

In [ ]:
raw_df.info()

d. Working with 'Timing' column

In [ ]:
raw_df['TIMING'].value_counts()

In [ ]:
# Splitting the column and storing it in temp_df dataframe  
 
temp_df = raw_df['TIMING'].str.split("(", n = 1, expand = True) 
temp_df

In [ ]:

# Assigning the columns back to the raw_df dataframe 
 
raw_df['TIMING'] = temp_df[0] 
raw_df['DAYS_OPEN'] = temp_df[1] 
raw_df.head()

In [ ]:
# Removing the bracket character from Days column 
raw_df['DAYS_OPEN'] = raw_df['DAYS_OPEN'].str.replace(r"[)]","",regex=True) 
raw_df.head()

In [ ]:
# Checking for Null records in DAYS_OPEN column 
raw_df.isnull().sum()

In [ ]:
# Replacing the Null values with 'NA' 
raw_df.fillna('NA', inplace=True)

In [ ]:
# Checking info of all the columns 
 
raw_df.info()

e. Removing the restaurant records whose Rating or Votes is 0

In [ ]:
# Finding those restaurant whose has 0 Rating or Votes 
useless_data = (raw_df['RATING'] == 0.0) | (raw_df['VOTES'] == 0) 
raw_df[useless_data]

In [ ]:
## Performing Negation of the useless dataset and then storing the correct data back in the raw_df DataFrame 
## This permamnently remove the wrong data from the original dataframe 
 
raw_df = raw_df[~useless_data]

f. Working on 'RATING_TYPE' Column

In [ ]:
# Checking the unique values in the column 
raw_df['RATING_TYPE'].value_counts()

In [ ]:
# Translating the texts into proper English text 
 
raw_df['RATING_TYPE'].replace(to_replace='Excelente' , value='Excellent', inplace=True) 
raw_df['RATING_TYPE'].replace(to_replace=['Veľmi dobré','Bardzo dobrze','Muy Bueno','Velmi dobré'] , value='Very Good', inplace=True) 
raw_df['RATING_TYPE'].replace(to_replace=['Skvělá volba','Dobrze','Bueno','Buono','Dobré','Bom','Skvělé'] , value='Good', inplace=True)  
raw_df['RATING_TYPE'].replace(to_replace=['Priemer','Média','Çok iyi'] , value='Average', inplace=True) 
raw_df['RATING_TYPE'].replace(to_replace=['Průměr','Promedio','Ortalama','Muito Bom','İyi'] , value='Poor', inplace=True) 
raw_df['RATING_TYPE'].replace(to_replace=['Baik','Biasa','Media','Sangat Baik'] , value='Very Poor', inplace=True)

In [ ]:
# Checking all the values correctly mapped 
raw_df['RATING_TYPE'].value_counts()

g. Working on 'REGION' Column

In [ ]:
raw_df['REGION'].value_counts()

In [ ]:
# Removing the irrelevant text from the Region column
raw_df['REGION'] = raw_df['REGION'].str.replace('[a-zA-Z].+-- ','',regex=True)

In [ ]:
# Removing the West & East from the Region column 
raw_df['REGION'] = raw_df['REGION'].str.replace(' West| west| East| east','',regex=True)

In [ ]:
raw_df['REGION'].value_counts()

In [ ]:
# Replacing Small regions with Known region name 
 
raw_df['REGION'] = raw_df['REGION'].str.replace('4 Bungalows|7 Andheri|Azad Nagar|Near Andheri Station|Veera Desai Area','Andheri' ,regex=True) 
raw_df['REGION'] = raw_df['REGION'].str.replace('Bandra Kurla Complex','Bandra',regex=True) 
raw_df['REGION'] = raw_df['REGION'].str.replace('CBD-Belapur','CBD Belapur',regex=True) 
raw_df['REGION'] = raw_df['REGION'].str.replace('Girgaon Chowpatty','Chowpatty',regex=True) 
raw_df['REGION'] = raw_df['REGION'].str.replace('Dadar Shivaji Park','Dadar',regex=True)
raw_df['REGION'] = raw_df['REGION'].str.replace('Flea Bazaar Café|Kamala Mills Compound','Lower Parel',regex=True) 
raw_df['REGION'] = raw_df['REGION'].str.replace('Runwal Green','Mulund',regex=True) 
raw_df['REGION'] = raw_df['REGION'].str.replace('Mumbai CST Area','Mumbai Central',regex=True) 
raw_df['REGION'] = raw_df['REGION'].str.replace('Kopar Khairane|Seawoods|Turbhe|Ulwe','Navi Mumbai',regex=True) 
raw_df['REGION'] = raw_df['REGION'].str.replace('New Panvel|Old Panvel','Panvel',regex=True) 
raw_df['REGION'] = raw_df['REGION'].str.replace('Kamothe','Sion',regex=True) 
raw_df['REGION'] = raw_df['REGION'].str.replace('Ghodbunder Road|Majiwada','Thane',regex=True)

h. Removing Duplicate records

In [ ]:
# Finding all the duplicate rows 
raw_df[raw_df.duplicated()]

In [ ]:
# Dropping all the duplicate rows 
raw_df = raw_df.drop_duplicates()

4. Copying the cleaned data into a new DataFrame

In [ ]:
zomato_df = raw_df.copy()

In [ ]:
zomato_df.head()

5. Performing Exploratory Data Analysis

Q1) How many restaurants are in Mumbai for each type of cuisine?

In [ ]:
fig = px.histogram(zomato_df, x='CUSINE TYPE', color='CUSINE TYPE',title= 'No. of Restaurants by Cuisine Type',labels={'CUSINE TYPE':'Cuisine Type'})

In [ ]:
fig.show()

Q2) What are the percentage of restaurants by Rating Type in Mumbai?

In [ ]:
rating_type_df = zomato_df['RATING_TYPE'].value_counts().reset_index() 
rating_type_df.rename(columns={'index':'RATING TYPE', 'RATING_TYPE':'COUNT OF RESTAURANTS'}, inplace=True) 
rating_type_df

In [ ]:
fig = px.pie(rating_type_df, names='RATING TYPE', values='COUNT OF RESTAURANTS', color='RATING TYPE',  
       title='Percentage of Restaurants by Rating Type').update_traces(textposition='inside', textinfo='percent+label')
fig.show()

Q3) Which are the Top 10 highest rated Seafood Restaurant in Mumbai?

In [ ]:
seafood_df = zomato_df[zomato_df['CUSINE_CATEGORY'].str.contains('Seafood')] 
seafood_df.sort_values(by='RATING',ascending=False).head(10)

Q4) Which is the best Food Truck in Mumbai?

In [ ]:
foodtruck_df = zomato_df[zomato_df['CUSINE TYPE'] == 'Food Truck'] 
foodtruck_df.sort_values(by='RATING',ascending=False).head(2)

Q5) Which places have the highest rated restaurant for each Cuisine Type in Mumbai?

In [ ]:
# Assuming restaurants having rating above 4.5 
 
highest_rated_df = zomato_df[zomato_df['RATING'] >= 4.5] highest_rated_df

In [ ]:
fig = px.histogram(highest_rated_df, x='REGION', color='CUSINE TYPE',  
             title= 'No. of Best Restaurant for each Cuisine Type by Places').update_xaxes(categoryorder="total descend
fig.show()

Q6) What is the Avg Price Distibution of highest rated restaurant for each Cuisine Type in Mumbai?

In [ ]:
highest_rated_price_df = highest_rated_df.groupby(by=['REGION', 'CUSINE TYPE'])['PRICE'].mean().reset_index() 
highest_rated_price_df.head()

In [ ]:
fig = px.scatter(highest_rated_price_df, x="REGION", y="PRICE", color="CUSINE TYPE", symbol="CUSINE TYPE",  
           title=' Avg Price Distibution of High rated restaurant for each Cuisine Type').update_traces(marker_size=10)
fig.show()

Q7) Which areas have a large number of Chinese Restaurant Market?

In [ ]:
chinese_df = zomato_df[zomato_df['CUSINE_CATEGORY'].str.contains('Chinese')] 
chinese_df

In [ ]:
chinese_rest_df = chinese_df.groupby(by='REGION').agg({'NAME' : 'count', 'PRICE' : 'mean'}).rename(columns= {'NAME' : 'Restaurant Count','PRICE': 'Average Price'}).reset_index() 
chinese_rest_df = chinese_rest_df.sort_values('COUNT OF RESTAURANTS', ascending=False).head(25) 
chinese_rest_df.head()

In [ ]:
fig = px.bar(chinese_rest_df, x='REGION', y='COUNT OF RESTAURANTS', color='PRICE', title= 'No. of Chinese Restaurant by Places',
labels={'Restaurant Count': 'Count of Restaurants','Average Price': 'Price','REGION': 'Region'})
fig.show()

Q8) Is there a relation between Price and Rating by each Cuisine Type?

In [ ]:
price_rating_df = zomato_df.groupby(['CUSINE TYPE', 'RATING'])['PRICE'].mean().reset_index() 
price_rating_df

In [ ]:
fig = px.line(price_rating_df, y="PRICE", x="RATING",color='CUSINE TYPE') 
fig.show()

Q9) Is there a relation between Region and Price?

In [ ]:
region_price_df = zomato_df.groupby(['REGION'])['PRICE'].mean().reset_index() 
region_price_df

In [ ]:
fig = px.scatter(region_price_df, x="REGION", y="PRICE").update_traces(marker_size=8) 
fig.show()

Q10) Find the list of Affordable Restaurants?

The criteria for Affordable Restaurants would be: \n
1) Low Price 2) High Rated \n 
First step will be to find the restaurants with average cost 1/4th the average cost of most expensive restaurant in our dataframe. \n
Let me explain:-The most expensive restaurant has an average meal cost= 6000. We'll try to stay economical and only pick the restaurants that are 1/4th of 6000.

In [ ]:
max_price = zomato_df['PRICE'].max() 
one_fourth_price = max_price/4 
one_fourth_price

In [ ]:
# Finding list of restaurants that have price less than and equal to 1/4th of the max price i.e Finding Cheap Restauran
 
aff_rest_df = zomato_df[['NAME', 'PRICE', 'CUSINE_CATEGORY', 'REGION', 'CUSINE TYPE']] 
aff_rest_df = aff_rest_df[aff_rest_df['PRICE'] <= 1250] 
aff_rest_df.sort_values(by='PRICE', inplace=True) aff_rest_df

In [ ]:
# Finding the highest rated list of restaurants 
 
highrate_rest_df = zomato_df[['NAME', 'PRICE', 'CUSINE_CATEGORY', 'REGION', 'CUSINE TYPE','RATING']] 
highrate_rest_df = highrate_rest_df[highrate_rest_df['RATING'] >= 4.5] 
highrate_rest_df.sort_values(by='PRICE', inplace=True) highrate_rest_df

Now, we'll merge the aff_rest_df with highrate_rest_df to obtain the intersection i.e the list of Affordable Restaurants !!

In [ ]:
highrate_aff_df = pd.merge(aff_rest_df, highrate_rest_df, how='inner', on=['NAME', 'REGION']) 
highrate_aff_df = highrate_aff_df[['NAME', 'PRICE_x', 'CUSINE_CATEGORY_x', 'REGION', 'CUSINE TYPE_x']] 
highrate_aff_df.rename(columns={'NAME':'NAME', 'PRICE_x':'PRICE', 'CUSINE_CATEGORY_x':'CUSINE_CATEGORY','REGION':'REGION', 'CUSINE TYPE_x':'CUSINE TYPE'},inplace=True)

In [ ]:
# Affordable Restaurants with low price and high rating  
 highrate_aff_df

Q10) Find the list of most Reliable Restaurants?

The criteria for most Reliable Restaurants would be:- \n
1) Low Price 2) High Rated 3) Large No. of Votes \n 
First step will be to find the restaurants with Votes greater than Mean of Votes

In [ ]:
mean_votes = zomato_df['VOTES'].mean() 
mean_votes

In [ ]:
# Finding list of restaurants that have Votes greater than and equal to  Mean of Vote 
 
mean_rest_df = zomato_df[['NAME', 'PRICE', 'CUSINE_CATEGORY', 'REGION', 'CUSINE TYPE', 'VOTES']] 
mean_rest_df = mean_rest_df[mean_rest_df['VOTES'] > 177] 
mean_rest_df.sort_values(by='VOTES', inplace=True) 
mean_rest_df

These are the most reliable, highest rated and affordable restaurants:-

We obtain this dataframe by simply taking the intersection of highrate_aff_df & mean_rest_df This dataframe obtained below shows the restaurants whose:
Cost is below 1250
Rating is above 4.5
Votes are above 177

In [ ]:
reliable_rest_df = pd.merge(mean_rest_df, highrate_aff_df, how='inner', on=['NAME', 'REGION']) 
reliable_rest_df = reliable_rest_df[['NAME', 'PRICE_x', 'CUSINE_CATEGORY_x', 'REGION', 'CUSINE TYPE_x']] 
reliable_rest_df.rename(columns={'NAME':'NAME', 'PRICE_x':'PRICE', 'CUSINE_CATEGORY_x':'CUSINE_CATEGORY','REGION':'REGION', 'CUSINE TYPE_x':'CUSINE TYPE'},inplace=True)

In [ ]:
reliable_rest_df